.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add this line to center vertically */
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* This centers the container horizontally */
    width: 100%; /* Add this line to ensure full width */
    max-width: 400px; /* Adjust the max-width as needed */
}

.login-container h1 {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}